<%= form_with(model: application, local: true) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :application_id %>
    <%= form.text_field :application_id, id: :application_application_id %>
  </div>

  <div class="field">
    <%= form.label :current_company %>
    <%= form.text_field :current_company, id: :application_current_company %>
  </div>

  <div class="field">
    <%= form.label :linkedin_url %>
    <%= form.text_field :linkedin_url, id: :application_linkedin_url %>
  </div>

  <div class="field">
    <%= form.label :portfolio_url %>
    <%= form.text_field :portfolio_url, id: :application_portfolio_url %>
  </div>

  <div class="field">
    <%= form.label :additional_info %>
    <%= form.text_area :additional_info, id: :application_additional_info %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :application_gender %>
  </div>

  <div class="field">
    <%= form.label :race %>
    <%= form.text_field :race, id: :application_race %>
  </div>

  <div class="field">
    <%= form.label :veteran_status %>
    <%= form.text_field :veteran_status, id: :application_veteran_status %>
  </div>

  <div class="field">
    <%= form.label :disability_status %>
    <%= form.text_field :disability_status, id: :application_disability_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
