<p id="notice"><%= notice %></p>

<p>
  <strong>Application:</strong>
  <%= @application.application_id %>
</p>

<p>
  <strong>Current company:</strong>
  <%= @application.current_company %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @application.linkedin_url %>
</p>

<p>
  <strong>Portfolio url:</strong>
  <%= @application.portfolio_url %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @application.additional_info %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @application.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @application.race %>
</p>

<p>
  <strong>Veteran status:</strong>
  <%= @application.veteran_status %>
</p>

<p>
  <strong>Disability status:</strong>
  <%= @application.disability_status %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
